.App {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 1%;
  display: grid;
  grid-template-rows: 50px 1fr;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.Headers{
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  display: grid;
  justify-content: center;
  border-radius: 10px;
  width: 100vj;
  height: 100%;
}

.formInput{
  display: grid;
  grid-template-columns: 1fr;
  
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255); 
  border-radius: 1rem;
  padding: 15px;
  border: 2px solid #3498db;
  animation: borderAnimation 5s infinite alternate;
}
.itemInput{
  
  width: 100%;
  color: rgb(18, 19, 19);
  text-align: center;

  & h1{
      font-size: 36px;
      font-family: "Arial", sans-serif;
      color: #333;
      text-align: center;
      border: none;
  }
}
.itemInput:nth-child(3){
  height: max-content; /* Set the desired height for the scrollable content */
  overflow-y: auto; /* Enable vertical scrolling */
}
.Nav{
  position: relative;
  display:flex;
  justify-content: center;
  top: 0;
  width:100vj;
  background-color:rgb(251, 251, 251);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Nav ul{
  display: flex;
  margin: 10px;
  
}
.Nav ul li{
  list-style: none;  
  padding: 0px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.Nav ul li a::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  border: 2px solid rgb(43, 226, 89);
}
.Nav ul li a:hover{
  color: rgb(3, 175, 89);
}
.Nav ul li a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.Nav ul li a{
text-decoration: none;
font-weight: bold;
cursor: pointer;
transition: 0.5s;
color:#515151;
}
.tbodyTable {
  width: 80%;
  overflow: auto;
}
.tbodyTable thead tr th,
.tbodyTable tbody tr td
{
  font-size:14px;
}
.itemInput .btnExport{
  margin-top: 15px;
  padding: 5px 86px;
  border: none;
  color: #fef9f9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 9px;
  background-color:rgb(51, 21, 161);
  transition: 0.3s;
}
.itemInput .btnExport:hover{
  transform: scale(1.1,1.1);
}


.red{
  color: #df0000;
  font-weight: bold;
}
.normal{
  color: #00bf30;
  font-weight: bold;
}



@media (max-width:1200px){

  .tbodyTable thead tr th,
  .tbodyTable tbody tr td
  {
    font-size:10px;
  }
}

@keyframes borderAnimation {
  0% {
      border-color: #b3f1c2;
  }
  100% {
      border-color: #e7b7b1;
  }
}